<!-- Footer from Apple.com -->

<footer class="footer-apple">
	<div class="footer-apple-wrapper">

		<section class="nav-wrapper">

			<div>
				<h3 class="js-apple-up">Shop and Learn</h3>
				<ul>
					<li><a href="#">Mac</a></li>
					<li><a href="#">iPad</a></li>
					<li><a href="#">iPhone</a></li>
					<li><a href="#">Watch</a></li>
					<li><a href="#">TV</a></li>
					<li><a href="#">Music</a></li>
					<li><a href="#">iTunes</a></li>
					<li><a href="#">iPod</a></li>
					<li><a href="#">Accessories</a></li>
					<li><a href="#">Gift Cards</a></li>
				</ul>
			</div><!--
	 --><div>
				<h3 class="js-apple-up">Apple Store</h3>
				<ul>
					<li><a href="#">Find a Store</a></li>
					<li><a href="#">Genius Bar</a></li>
					<li><a href="#">Workshops and Learning</a></li>
					<li><a href="#">Youth Programs</a></li>
					<li><a href="#">Apple Store App</a></li>
					<li><a href="#">Refurbished</a></li>
					<li><a href="#">Financing</a></li>
					<li><a href="#">Reuse and Recycling</a></li>
					<li><a href="#">Order Status</a></li>
					<li><a href="#">Shopping Help</a></li>
				</ul>
			</div><!--
	 --><div>
				<div>
					<h3 class="js-apple-up">For Education</h3>
					<ul>
						<li><a href="#">Apple and Education</a></li>
						<li><a href="#">Shop for College</a></li>
					</ul>
				</div>
		 		<div>
					<h3 class="js-apple-up">For Business</h3>
					<ul>
						<li><a href="#">Apple and Business</a></li>
						<li><a href="#">Shop for Business</a></li>
					</ul>
				</div>
			</div><!--
	 --><div>
				<div>
					<h3 class="js-apple-up">Account</h3>
					<ul>
						<li><a href="#">Manage Your Apple ID</a></li>
						<li><a href="#">Apple Store Account</a></li>
						<li><a href="#">iCloud.com</a></li>
					</ul>
				</div>
				<div>
					<h3 class="js-apple-up">Apple Values</h3>
					<ul>
						<li><a href="#">Environment</a></li>
						<li><a href="#">Supplier Responsibility</a></li>
						<li><a href="#">Accessibility</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Inclusion and Diversity</a></li>
						<li><a href="#">Education</a></li>
					</ul>
				</div>
			</div><!--	
	 --><div>
				<h3 class="js-apple-up">About Apple</h3>
				<ul>
					<li><a href="#">Apple Info</a></li>
					<li><a href="#">Newsroom</a></li>
					<li><a href="#">Job Opportunities</a></li>
					<li><a href="#">Investors</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Contact Apple</a></li>
			</ul>
			</div>

		</section> <!-- //nav-wrapper -->	

	<section class="footer-section clear">
		<div class="footer-shop">More ways to shop: Visit an <a href="#">Apple Store</a>, call 1-800-MY-APPLE, or <a href="#">find a reseller.</a></div>
		<div class="footer-locale"><a href="#"><span></span>United States</a></div>
		<div class="footer-legal">
			<div class="footer-legal-copyright">Copyright © 2016 Apple Inc. All rights reserved.</div>
			<div class="footer-legal-links">
				<a href="#">Privacy Policy</a>
				<a href="#">Terms of Use</a>
				<a href="#">Sales and Refunds</a>
				<a href="#">Legal</a>
				<a href="#">Site Map</a>
			</div>
		</div>
	</section> <!-- //footer-section -->

	</div> <!-- //footer-apple-wrapper -->
</footer> 