<!-- Section Hero Banner from  Dropbox.com-->
<section class="hero">
	<div class="hero-wrapper">
		<h1>Безопасный доступ, синхронизация и совместная работа</h1>
		<h2>Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных администраторов и нравятся пользователям.</h2>
		<a class="hero-trial-version" href="#">Попробуйте бесплатную 30-дневную ознакомительную версию</a>
		<p class="hero-buy-now">или <a href="#">купите прямо сейчас</a></p>
	</div>	<!-- // hero-wrapper -->
</section>