<!-- Header from Microsoft.com --> 
<header class="microsoft-header clear">
	
<!-- Block LOGO -->

	<div class="microsoft-header-logo">
		<a href="https://www.microsoft.com/ru-ru/" title="Microsoft">
			<img src="img/micr.png" alt="Microsoft">
		</a>
	</div>  <!-- // microsoft-header-logo -->

<!-- Block NAVIGATION -->

	<nav class="microsoft-header-nav">
		<ul class="main-nav">
			<li class="enter-nav"><a href="#">Войти</a></li>
			<li class="js-first-opened"><a href="#">Магазин <i class="ion-chevron-down"></i></a>
				 <ul class="sub-nav">
					<li><a class="underpoint" href="#">Магазин Microsoft</a></li>
					<li><a href="#">Устройства<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Смартфоны</a></li>
							<li><a href="#">Консоли и игры Xbox</a></li>
							<li><a href="#">Аксессуары</a></li>
							<li><a href="#">Планшеты</a></li>
							<li><a href="#">Ноутбуки</a></li>
							<li><a href="#">Моноблоки</a></li>
							<li><a href="#">Спецпредложения</a></li>	
						</ul>
					</li>
					<li><a href="#">Office<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Все версии Office</a></li>
							<li><a href="#">Office 365</a></li>
							<li><a href="#">Office для Mac</a></li>
							<li><a href="#">Office (коробочные версии)</a></li>
							<li><a href="#">Выбрать свою версию Office</a></li>
							<li><a href="#">Продление подписки на Office 365</a></li>
							<li><a href="#">Приложения Office</a></li>
							<li><a href="#">Языковые пакеты Office</a></li>	
						</ul>
					</li>
					<li><a href="#">Windows<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Windows</a></li>
							<li><a href="#">Windows 10 Домашняя</a></li>
							<li><a href="#">Windows 10 Профессиональная</a></li>
							<li><a href="#">Windows (коробочные версии)</a></li>
						</ul>
					</li>
					<li><a href="#">Xbox<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Xbox</a></li>
							<li><a href="#">Xbox Live</a></li>
							<li><a href="#">Консоли Xbox</a></li>
							<li><a href="#">Аксессуары Xbox</a></li>
							<li><a href="#">Игры для Xbox</a></li>
						</ul>
					</li>
					<li><a href="#">Допольнительное ПО<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Программное обеспечение</a></li>
							<li><a href="#">Visio</a></li>
							<li><a href="#">Project</a></li>
							<li><a href="#">Visual Studio</a></li>
						</ul>
					</li>
					<li><a href="#">Приложения<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Все о приложениях</a></li>
							<li><a href="#">Приложения для Windows</a></li>
							<li><a href="#">Приложения для Windows Phone</a></li>
						</ul>
					</li>
					<li><a href="#">Игры<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Все игры</a></li>
							<li><a href="#">Игры для Windows</a></li>
							<li><a href="#">Игры для Windows Phone</a></li>
							<li><a href="#">Игры для Xbox</a></li>
							<li><a href="#">Игры для ПК</a></li>
						</ul>
					</li>
				</ul>
			</li><!--
			--><li class="js-second-opened"><a href="">Продукты <i class="ion-chevron-down"></i></a>
				<ul class="sub-nav">
					<li><a href="#">ПО и услуги<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Windows</a></li>
							<li><a href="#">Office</a></li>
							<li><a href="#">Бусплатная загрузка и средства безопасности</a></li>
							<li><a href="#">Internet Explorer</a></li>
							<li><a href="#">Microsoft Edge</a></li>
							<li><a href="#">Skype</a></li>
							<li><a href="#">OneNote</a></li>
							<li><a href="#">OneDrive</a></li>
							<li><a href="#">MSN</a></li>
							<li><a href="#">Bing</a></li>
						</ul>
					</li>
					<li><a href="#">Устройства и Xbox<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Аксессуары для ПК</a></li>
							<li><a href="#">Xbox и игры</a></li>
							<li><a href="#">Microsoft Lumia</a></li>
						</ul>
					</li>
					<li><a href="#">Для бизнеса<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Облачные платформы</a></li>
							<li><a href="#">Microsoft Azure</a></li>
							<li><a href="#">Microsoft Dymamics</a></li>
							<li><a href="#">Windows для бизнеса</a></li>
							<li><a href="#">Office для бизнеса</a></li>
							<li><a href="#">Skype для бизнеса</a></li>
							<li><a href="#">Решения для предприятий</a></li>
							<li><a href="#">Решения для малого бизнеса</a></li>
							<li><a href="#">Найти поставщика решений</a></li>
							<li><a href="#">Корпоративное лицензирование</a></li>
						</ul>
					</li>
					<li><a class="underpoint" href="#">Государственный сектор</a></li>
					<li><a href="#">Для разработчиков и ИТ-специалистов<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Разработка приложений для Windows</a></li>
							<li><a href="#">Microsoft Azure</a></li>
							<li><a href="#">MSDN</a></li>
							<li><a href="#">TechNet</a></li>
							<li><a href="#">Visual Studio</a></li>
						</ul>
					</li>
					<li><a href="#">Для учащихся и преподавателей<i class="ion-chevron-right"></i><i class="ion-chevron-down"></i></a>
						<ul class="sub-sub-nav">
							<li><a href="#">Купить компьютеры и планшеты: оптимально для студентов</a></li>
							<li><a href="#">Образование</a></li>
						</ul>
					</li>
				</ul>
			</li><!--
	 --><li><a href="#">Поддержка</a></li>
		</ul>
	</nav> <!-- //microsoft-header-nav -->


<!-- Block Registration -->	
<div class="enter">
	<a href="#">Войти</a>
</div> <!-- // enter -->

<!-- Block Gamburger Menu Toggle Button -->	
<div class="gamburger-toggle-nav ">
	<span><i class="ion-navicon"></i></span>
</div> <!-- // gamburger-toggle-nav -->

<!-- Block PURCHASING -->	
<div class="cart">
	<a href="#"><span><i class="ion-ios-cart-outline"></i> 0</span></a>	
</div> <!-- // cart -->

<!-- Block SEARCHING -->	
<form class="search" action="#" method="post">
	<input class="input" type="text" name="#" placeholder="Искать на Microsoft.com">
	<button class="submit" type="submit"><i class="ion-ios-search"></i></button>
</form>

</header> <!-- //microsoft-header clear -->

<!-- Block SEARCH FORM TOGGLE MOBILE -->
<div class="search-form-toggle">
	<form class="search-toggle" action="#" method="post">
		<input class="input-toggle" type="text" name="#" placeholder="Искать на Microsoft.com">
		<button type="submit" class="submit-toggle" /><i class="ion-ios-search toggle"></i></button>
	</form>
</div> <!-- //search-form-toggle -->