<!-- Section Special Offer from Oculus.com -->
<section class="oculus-special-offer">
	<div class="oculus-special-offer-wrapper">		
		<a href="#">
			<figure>
				<img src="img/eve-valkyrie.jpg" alt="image game eve">
				<figcaption>Featured Content <br><strong>EVE: Valkyrie</strong></figcaption>
			</figure>
		</a><!--
	--><a href="#">
			<figure>
				<img src="img/luckys-tale.jpg" alt="image game lucky">
				<figcaption>Included with all rift purchases <br><strong>Lucky's Tale</strong></figcaption>
			</figure>
		</a><!--
 --><a href="#">
			<figure>
					<img src="img/touch.jpg" alt="image story">
					<figcaption class="align-fig">Featured story <br><strong>Over 30 Full Games Launching with Oculus Touch this Year</strong></figcaption>
				</figure>
		</a>		
	</div>
</section> <!-- // oculus-special-offer -->
